# Server Configuration
PORT=
APP_PORT_SERVER=
APP_PORT_CLIENT=
NODE_ENV=

# Database Configuration
DB_HOST=
DB_USER=root
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

# API Configuration
API_VERSION=
JWT_SECRET=r
JWT_EXPIRES_IN=

# Mail Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
RESET_PASSWORD_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_AVATAR_BUCKET=
SUPABASE_CAR_BRAND_LOGO_BUCKET=
